<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CV Reponsive</title>
        <link rel="stylesheet" type="text/css" href="../css/cv.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    </head>
    <body>
        <div class="container">
            <div class="left-side">
                <div class="profileText">
                    <div class="imgProfile">
                        <img src="../images/79728460_1218073621725079_3374531713995636736_n.jpg">
                    </div>
                    <h2>David Pagliano <br /> <span>.Net Full stack Developer</span></h2>
                </div>
                <div class="contactInfo">
                    <h3 class="title">Contact Info</h3>
                    <ul>
                        <li>
                            <span class="icon"><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                            <span class="text">+54-341-380-1505</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
                            <span class="text">david.s.pagliano@gmail.com</span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></span>
                            <span class="text" ><a hfer="https://www.linkedin.com/in/david-pagliano-ab668211a">LinkedIn</a></span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-github" aria-hidden="true"></i></span>
                            <span class="text"><a hfer="https://github.com/DavidPagliano?tab=repositories">Git Hub</a></span>
                        </li>
                        <li>
                            <span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <span class="text">Rosario, Santa Fe, Argentina</span>
                        </li>
                    </ul>
                </div>
                <div class="contactInfo education">
                    <h3 class="title">Education</h3>
                    <ul>
                        <li>
                            <h5>2016-actualmente</h5>
                            <h4>Ingenieria Sistema informatico</h4>
                            <h4>Universidad Abierta Interamericana</h4>
                        </li>
                        <li>
                            <h5>2010-2015</h5>
                            <h4>Bachillerato con orientacion en informatica</h4>
                            <h4>Complejo Educativo Cristiano IEMA</h4>
                        </li>                  
                    </ul>
                </div>
                <div class="contactInfo language">
                    <h3 class="title">Language</h3>
                    <ul>
                        <li>
                            <span class="text">English</span>
                            <span class="percent">
                                <div style="width: 65%;"></div>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="right-side">
                <div class="about">
                    <h2 class="title2">Perfil</h2>
                    <p> Soy una persona que se adapta al trabajo con facilidad, y muy comprometido a la hora de trabajar, siempre buscando la mayor eficiencia para el resultado en mis puesto de trabajo que se me asigne.
                        Dispuesto aprender nuevos conocimientos para mejorar como empleado, persona y trabajo en equipo.</p>
                    <p>Conocimiento intermedio en el Lenguaje de programación C#, WindowForms, ASP.NET, RAZOR ,WPF, SQL Server, Entity Framework 4.0 en adelante, uso de dicho conocimiento son de 4 años trabajando en un sistema de administración para una escuela privada. 
                        A su vez se utilizar React, Mongo DB, Express JS y conocimiento básicos-intermedio en JavaScript. Dicho sea de paso también con conocimientos básicos AngularJS, DevOps de Azure. conocimientos intermedios en Git, Git HUB y bitbucket.</p>
                </div>
                <div class="about">
                    <h2 class="title2">Experiencia</h2>
                    <div class="box">
                        <div class="year-company">
                            <h5>abr.2021 - Present</h5>
                            <h5>PwC</h5>
                        </div>
                        <div class="text">
                            <h4>Associate - .Net Full Stack Developer</h4>
                            <p>Desarrollo y mantenimiento de aplicaciones web con .NET framework 4.7, Angular JS, SQL Server, Solr, Azure DevOps y Git.Desarrollo y mantenimiento de aplicaciones web con .NET framework 4.7, Angular JS, SQL Server, Solr, Azure DevOps y Git.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="year-company">
                            <h5>feb.2021 - abr.2021</h5>
                            <h5>URG Urgencias</h5>
                        </div>
                        <div class="text">
                            <h4>Pasantia TI</h4>
                            <p>Es una pasantía, donde hacia las actividades de un soporte TI, con tareas administrativas, y donde se tenia que mantener en condiciones las PC de los empleados, y de sistemas de uso de la empresa.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="year-company">
                            <h5>dic.2016 - abri.2018</h5>
                            <h5>UAI - Universidad Abierta Interamericana</h5>
                        </div>
                        <div class="text">
                            <h4>Pasantia TI</h4>
                            <p>Es una pasantia para alumnos de la carrera de ing. en sistemas informáticos. de la universidad UAI.<br/>
                                En mi caso se me asigno a la sede roca. ubicada en pellegrini 1816.<br/>
                                Las tareas a realizar fueron:<br/>
                                Mantener la funcionalidad, la seguridad de los activos en los laboratorios de computación, mantener un control de software. y tareas de mantenimiento del hardware.<br/>
                                Asistir a profesores dentro y fuera de los laboratorios con consultas de informática, asistir a directivos con soluciones particulares de asistencia técnica y asistir alumnos con consultas de informática particulares.<br/>
                                Todas mis tareas fueron supervisadas por soporte técnico de la uai sede roca- a cargo de Jorge Peluso, Luciana Balague y Sebastian Balague.</p>
                        </div>
                    </div>

                </div>
                <div class="about skills">
                    <h2 class="title2">Professional Skills</h2>
                    <div class="box">
                        <h4>Html</h4>
                        <div class="percent">
                            <div style="width: 90%;"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Css</h4>
                        <div class="percent">
                            <div style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>JavaScript</h4>
                        <div class="percent">
                            <div style="width: 65%;"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>React</h4>
                        <div class="percent">
                            <div style="width: 40%;"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>AngularJS</h4>
                        <div class="percent">
                            <div style="width: 15%;"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>MongoDB</h4>
                        <div class="percent">
                            <div style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>C# - CSharp</h4>
                        <div class="percent">
                            <div style="width: 60%;"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>SQL Server</h4>
                        <div class="percent">
                            <div style="width: 63%;">
                                <div style="width: 65%;"></div></div>
                        </div>
                    </div>
                    
                    
                </div>
                <div class="about skills">
                    <h2 class="title2">Others Skills</h2>
                    <div class="box">
                        <h4>Git</h4>
                        <div class="percent">
                            <div style="width: 70%;"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>Azure DevOps</h4>
                        <div class="percent">
                            <div style="width: 20%;"></div>
                        </div>
                    </div>
                    <div class="box">
                        <h4>BitBucket</h4>
                        <div class="percent">
                            <div style="width: 40%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>